:root {
    --primary: #9b59b6;
    --secondary: #8e44ad;
    --purple-back: #D9A3F3;
    --dark: #2c3e50;
    --accent: #95a5a6;
    --euforie: #d35400;
    --text: #333;
    --divider: #bdc3c7;
    --font-family: 'Roboto', sans-serif;
    --title-font: 'Moon Dance', sans-serif;
    --about-me-font: 'Moon Dance', sans-serif;
    --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
} 
