// ###### //
// Roboto //
// ###### //

@font-face {
	font-family: 'Roboto-900';
	src: url(‘/fonts/Roboto/Roboto-black.ttf’) format(‘truetype’)
}

@font-face {
	font-family: 'Roboto-900-italic';
	src: url(‘/fonts/Roboto/Roboto-BlackItalic.ttf’) format(‘truetype’)
}

@font-face {
	font-family: 'Roboto-700';
	src: url(‘/fonts/Roboto/Roboto-Bold.ttf’) format(‘truetype’)
}

@font-face {
	font-family: 'Roboto-700-italic';
	src: url(‘/fonts/Roboto/Roboto-BoldItalic.ttf’) format(‘truetype’)
}

@font-face {
	font-family: 'Roboto-500';
	src: url(‘/fonts/Roboto/Roboto-Medium.ttf’) format(‘truetype’)
}

@font-face {
	font-family: 'Roboto-500-italic';
	src: url(‘/fonts/Roboto/Roboto-MediumItalic.ttf’) format(‘truetype’)
}

@font-face {
	font-family: 'Roboto-400';
	src: url(‘/fonts/Roboto/Roboto-Regular.ttf’) format(‘truetype’)
}

@font-face {
	font-family: 'Roboto-400-italic';
	src: url(‘/fonts/Roboto/Roboto-Italic.ttf’) format(‘truetype’)
}

@font-face {
	font-family: 'Roboto-300';
	src: url(‘/fonts/Roboto/Roboto-Light.ttf’) format(‘truetype’)
}

@font-face {
	font-family: 'Roboto-300-italic';
	src: url(‘/fonts/Roboto/Roboto-LightItalic.ttf’) format(‘truetype’)
}

@font-face {
	font-family: 'Roboto-100';
	src: url(‘/fonts/Roboto/Roboto-Thin.ttf’) format(‘truetype’)
}

@font-face {
	font-family: 'Roboto-100-italic';
	src: url(‘/fonts/Roboto/Roboto-ThinItalic.ttf’) format(‘truetype’)
}

// ####### //
// Arsenal //
// ####### //

@font-face {
	font-family: 'Arsenal-700';
	src: url(‘/fonts/Arsenal/Arsenal-Bold.ttf’) format(‘truetype’)
}

@font-face {
	font-family: 'Arsenal-700-italic';
	src: url(‘/fonts/Arsenal/Arsenal-BoldItalic.ttf’) format(‘truetype’)
}

@font-face {
	font-family: 'Arsenal-400';
	src: url(‘/fonts/Arsenal/Arsenal-Regular.ttf’) format(‘truetype’)
}

@font-face {
	font-family: 'Arsenal-400-italic';
	src: url(‘/fonts/Arsenal/Arsenal-Italic.ttf’) format(‘truetype’)
}

// ########## //
// Bree_Serif //
// ########## //

@font-face {
	font-family: 'Bree';
	src: url(‘/fonts/Bree_Serif/BreeSerif-Regular.ttf’) format(‘truetype’)
}

// ########## //
// Fjalla_One //
// ########## //

@font-face {
	font-family: 'FjallaOne';
	src: url(‘/fonts/Fjalla_One/FjallaOne-Regular.ttf’) format(‘truetype’)
}

// ############ //
// Indie_Flower //
// ############ //

@font-face {
	font-family: 'IndieFlower';
	src: url(‘/fonts/Indie_Flower/IndieFlower-Regular.ttf’) format(‘truetype’)
}

// ########## //
// Lilita_One //
// ########## //

@font-face {
	font-family: 'LilitaOne';
	src: url(‘/fonts/Lilita_One/LilitaOne-Regular.ttf’) format(‘truetype’)
}

// ####### //
// Monoton //
// ####### //

@font-face {
	font-family: 'Monoton';
	src: url(‘/fonts/Monoton/Monoton-Regular.ttf’) format(‘truetype’)
}

// ######## //
// Orbitron //
// ######## //

@font-face {
	font-family: 'Orbitron';
	src: url(‘/fonts/Orbitron/Orbitron-VariableFont_wght.ttf’) format(‘truetype’)
}

// ######### //
// Russo_One //
// ######### //

@font-face {
	font-family: 'Russo';
	src: url(‘/fonts/Russo_One/RussoOne-Regular.ttf’) format(‘truetype’)
}